/**
 * Header
 */
.header {
  max-width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
  gap: 3rem;
  margin: 3.5%;
  &__logo {
    float: left;
  }
}
@media screen and (max-width: 1024px) {
  .header {
    align-items: flex-start;
    &__logo {
      padding: 5px 10px;
    }
  }
}
@media screen and (max-width: 580px) {
  .header {
    &__logo img {
      width: 150px;
      padding: 5px;
    }
  }
}
