/**
 * Menu
 */

.main-navbar {
  // float: right;
  a {
    float: left;
    text-align: center;
  }

  .icon {
    display: none;
  }
}
.main-navbar,
.main-navbar--responsive {
  a {
    display: block;
    padding: 12px 12px;
    margin: 5px;
    &:hover {
      border-radius: 15px;
    }
  }
  .active {
    border-radius: 15px;
  }
}

// @media screen and (max-width: 768px) {
//   .main-navbar {
//     a {
//       display: none;
//     }
//     .icon {
//       float: right;
//       display: block;
//     }
//   }
// }

@media screen and (max-width: 1024px) {
  .main-navbar {
    a {
      display: none;
    }
    .icon {
      float: right;
      display: block;
    }
    &--responsive {
      position: relative;
      .icon {
        position: absolute;
        right: 0;
        top: 0;
      }
      a {
        float: none;
        display: block;
      }
    }
  }
}

@media screen and (max-width: 540px) {
  // .main-navbar {
  // a {
  //   display: none;
  // }
  // .icon {
  // float: right;
  // display: block;
  // margin-top: -15px;
  // }
  // }
}
