/**
 * Modal
 */
/* Modal form */
.modal {
  &__bground {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: $modal-bg-color;
  }
  &__content {
    margin: 10% auto;
    width: 100%;
    max-width: 500px;
    animation-name: modalopen;
    animation-duration: $modal-duration;
    background: #232323;
    border-radius: $radius;
    overflow: hidden;
    position: relative;
    padding-top: 10px;
  }
  &__body {
    padding: 15px 8%;
    margin: 15px auto;
  }
  &__formData {
    &[data-error]::after {
      content: attr(data-error);
      display: block;
      margin-top: 7px;
      margin-bottom: 7px;
      opacity: 0;
      transition: 0.3s;
    }
    &[data-error-visible="true"]::after {
      opacity: 1;
    }
    &[data-error-visible="true"] .text-control {
      border: 2px solid $red-light;
    }
  }
  &__close {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 32px;
    height: 32px;
    opacity: 1;
    cursor: pointer;
    transform: scale(0.7);
    &::before,
    &::after {
      position: absolute;
      left: 15px;
      content: " ";
      height: 33px;
      width: 3px;
      background-color: $white;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
}

@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .modal {
    &__content {
      margin: 15% auto;
    }
  }
}
@media screen and (max-width: 580px) {
  .modal {
    &__content {
      margin: 20% auto;
    }
  }
}
