/**
 * Button
 */

.btn {
  display: block;
  border-radius: 7px;
  background: #fe142f;
  color: #fff;
  cursor: pointer;
  &:hover {
    background: #3876ac;
  }
  &-submit {
    margin: 0 auto;
    margin-top: 0.5em;
    padding: 12px 55px;
    border: 0;
  }
  &-signup {
    margin: 0;
    margin-top: 59px;
    outline: none;
    text-transform: capitalize;
    padding: 15px 23px;
    border: 0;
  }
}
