/**
 * Base
 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 1300px;
  margin: 0 auto;
}

/**
 * Typography
 */
/***** general *****/
body {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
}

p {
  font-size: 1.5rem;
}

.smFont {
  font-size: 1rem;
}

/***** Buttons *****/
.btn-submit {
  font-size: 1rem;
}

.btn-signup {
  font-size: 1.56rem;
}

/***** Menu *****/
.main-navbar .icon i {
  color: #ff0000;
  font-size: 1.375rem;
}

.main-navbar a,
.main-navbar--responsive a {
  font-family: Roboto, sans-serif;
  font-size: 1.125rem;
  color: #000000;
  text-decoration: none;
}
.main-navbar a:hover,
.main-navbar--responsive a:hover {
  background-color: #ff0000;
  color: #ffffff;
}
.main-navbar .active,
.main-navbar--responsive .active {
  background-color: #ff0000;
  color: #ffffff;
}

/* Landing page */
main {
  font-weight: bolder;
  color: black;
  text-align: justify;
}

/***** Hero *****/
.hero__content {
  color: #fff;
  text-align: left;
}
.hero__headline {
  font-size: 6rem;
  font-weight: normal;
  white-space: nowrap;
}
.hero__text {
  font-weight: normal;
}

/***** Form *****/
.label {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
}

.text-control {
  font-size: 1.25rem;
}

.radio-label,
.checkbox-label {
  font-size: 0.75rem;
  font-weight: normal;
}

/* Modal */
.modal__content {
  color: #fff;
}
.modal__formData[data-error]::after {
  font-size: 0.4rem;
  color: #e54858;
  text-align: right;
  line-height: 0.3;
}

/***** footer *****/
footer .copyrights {
  color: #fe142f;
  font-size: 1rem;
  font-weight: bolder;
}

@media screen and (max-width: 1024px) {
  /* Hero responsive */
  .hero__content {
    color: #000;
  }
  .hero__headline {
    font-size: 4.5rem;
    white-space: normal;
  }
  .hero__text {
    font-size: 1.5rem;
  }
  /* Footer responsive */
  .copyrights {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  /* Menu responsive */
  .main-navbar--responsive a {
    text-align: left;
  }
}
/**
 * Header
 */
.header {
  max-width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
  gap: 3rem;
  margin: 3.5%;
}
.header__logo {
  float: left;
}

@media screen and (max-width: 1024px) {
  .header {
    align-items: flex-start;
  }
}
@media screen and (max-width: 425px) {
  .header {
    margin: 30px;
  }
  .header__logo img {
    width: 150px;
    padding-top: 12px;
  }
}
/**
 * Footer
 */
footer {
  padding-left: 2vw;
  padding-right: 2vw;
  margin: 0 20px;
}
footer .copyrights {
  padding: 0;
  margin: 60px 0 30px;
}

@media screen and (max-width: 1024px) {
  footer .copyrights {
    margin: 50px;
  }
}
/**
 * Menu
 */
.main-navbar a {
  float: left;
  text-align: center;
}
.main-navbar .icon {
  display: none;
}

.main-navbar a,
.main-navbar--responsive a {
  display: block;
  padding: 12px 12px;
  margin: 5px;
}
.main-navbar a:hover,
.main-navbar--responsive a:hover {
  border-radius: 15px;
}
.main-navbar .active,
.main-navbar--responsive .active {
  border-radius: 15px;
}

@media screen and (max-width: 1024px) {
  .main-navbar a {
    display: none;
  }
  .main-navbar .icon {
    float: right;
    display: block;
  }
  .main-navbar--responsive {
    position: relative;
  }
  .main-navbar--responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .main-navbar--responsive a {
    float: none;
    display: block;
  }
}
@media screen and (max-width: 540px) {
  .main-navbar--responsive {
    width: 100%;
    position: relative;
  }
  .main-navbar--responsive a {
    display: block;
    padding: 12px 12px;
    margin: 5px;
  }
  .main-navbar--responsive .icon {
    position: fixed;
    right: 30px;
    top: 30px;
  }
}
/**
 * Modal
 */
/* Modal form */
.modal__bground {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
}
.modal__content {
  margin: 5% auto;
  width: 100%;
  max-width: 500px;
  animation-name: modalopen;
  animation-duration: 0.8s;
  background: #232323;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  padding-top: 10px;
}
.modal__body {
  padding: 15px 8%;
  margin: 15px auto;
}
.modal__formData[data-error]::after {
  content: attr(data-error);
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  opacity: 0;
  transition: 0.3s;
}
.modal__formData[data-error-visible=true]::after {
  opacity: 1;
}
.modal__formData[data-error-visible=true] .text-control {
  border: 2px solid #e54858;
}
.modal__close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}
.modal__close::before, .modal__close::after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #fff;
}
.modal__close::before {
  transform: rotate(45deg);
}
.modal__close::after {
  transform: rotate(-45deg);
}

@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}
/**
 * Hero
 */
.hero__section {
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  overflow: hidden;
  box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2);
}
.hero__section > .btn-signup {
  display: none;
}
.hero__content {
  background: #232323;
  position: relative;
  min-width: 424px;
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  gap: 4.5625em;
  padding: 51px 67px;
}
.hero__content::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #232323;
  position: absolute;
  right: -80px;
  top: 0;
}
.hero__content > * {
  position: relative;
  z-index: 1;
}
.hero__text {
  width: 146%;
  padding: 0;
}
.hero__img {
  grid-column: span 8;
}
.hero__img img {
  width: 100%;
  height: 100%;
  display: block;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .hero__section {
    min-height: 93vh;
    display: block;
    box-shadow: unset;
  }
  .hero__section > .btn-signup {
    display: block;
    margin: 32px auto 10px;
    padding: 12px 35px;
  }
  .hero__content {
    background: #fff;
    padding: 0px 20px 20px 20px;
    gap: 40px;
    min-width: -moz-fit-content;
    min-width: fit-content;
  }
  .hero__content::after {
    content: unset;
  }
  .hero__content .btn-signup {
    display: none;
  }
  .hero__text {
    width: unset;
  }
  .hero__img img {
    border-radius: 10px;
    margin: 40px auto 60px;
  }
}
/*
** Forms
*/
form {
  /*
  input[data-error]::after {
    content: attr(data-error);
    font-size: 0.4em;
    color: red;
  }
  */
}
form label {
  display: inline-block;
  margin-bottom: 11px;
}
form legend {
  margin: 11px 0;
}
form input {
  padding: 8px;
  border: 0.8px solid #ccc;
  outline: none;
}
form .text-control {
  margin: 0;
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  height: 48px;
}
form .checkbox-input,
form .radio-input {
  display: none;
}
form .radio-label,
form .checkbox-label {
  position: relative;
  margin-left: 36px;
}
form .checkbox-icon,
form .radio-icon {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: -30px;
  top: -1px;
}
form .checkbox-icon::after,
form .radio-icon::after {
  content: "";
  position: absolute;
  transition: 0.3s;
  opacity: 0;
}
form .radio-icon {
  border: 2px solid #279e7a;
  border-radius: 50%;
}
form .radio-icon::after {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #279e7a;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
form .radio-input:checked + .radio-label .radio-icon::after {
  opacity: 1;
}
form .checkbox-icon {
  border-radius: 4px;
  border: 0;
  background: #c4c4c4;
}
form .checkbox-icon::after {
  width: 7px;
  height: 4px;
  border-radius: 2px;
  background: transparent;
  border: 2px solid transparent;
  border-bottom-color: #fff;
  border-left-color: #fff;
  transform: rotate(-55deg);
  left: 21%;
  top: 19%;
}
form .checkbox-input:checked + .checkbox-label .checkbox-icon {
  background: #279e7a;
}
form .checkbox-input:checked + .checkbox-label .checkbox-icon::after {
  opacity: 1;
}

/* custom select styles */
/**
 * Button
 */
.btn {
  display: block;
  border-radius: 7px;
  background: #fe142f;
  color: #fff;
  cursor: pointer;
  /* open modal button in hero */
  /* submit form modal button */
}
.btn:hover {
  background: #3876ac;
}
.btn-signup {
  margin: 0;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: capitalize;
  padding: 11px 30px;
  border: none;
}
.btn-submit {
  margin: 0 auto;
  margin-top: 8px;
  padding: 12px 55px;
  border: 0;
}

/**
 * Landing page
 */
main {
  padding-top: 0.5vw;
  padding-left: 2vw;
  padding-right: 2vw;
  margin: 1px 20px;
  border-radius: 2rem;
}