// -----------------------------------------------------------------------------
// This file contains all variables.
// -----------------------------------------------------------------------------
/* colors */
$white: #fff;
$black: #000;
$red: #fe142f;
$red-light: #ff4e60; // data-error form
$blue: #3876ac; // background button hover
$green: #279e7a; // form checkbox + radio

/* typography */
$font-default: "DM Sans", Arial, Helvetica, sans-serif;

/* borders */
$radius: 8px;

/* modal */
// $modal-bg-color: rgba(26, 39, 156, 0.4);
$modal-bg-color: $white;
$modal-duration: 0.8s;
