/**
 * Typography
 */

/***** general *****/
body {
  font-family: $font-default;
  font-size: 1.125rem;
}
.smFont {
  font-size: 16px;
}

/***** Buttons *****/
.btn-submit {
  font-size: 1rem;
}
.btn-signup {
  font-size: 1.3rem;
}

/***** Menu *****/
.main-navbar .icon i {
  color: #ff0000;
  font-size: 22px;
}

.main-navbar,
.main-navbar--responsive {
  a {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    &:hover {
      background-color: #ff0000;
      color: #ffffff;
    }
  }
  .active {
    background-color: #ff0000;
    color: #ffffff;
  }
}

/* Landing page */
main {
  font-size: 130%;
  font-weight: bolder;
  color: black;
  text-align: justify;
}

/***** Hero *****/
.hero {
  &__content {
    color: #fff;
    text-align: left;
  }
  &__headline {
    font-size: 6rem;
    font-weight: normal;
    white-space: nowrap;
  }
  &__text {
    font-weight: normal;
  }
}

/***** Form *****/
.label {
  font-family: $font-default;
  font-size: 14px;
  font-weight: 400;
}
.text-control {
  font-size: 20px;
}
.radio-label,
.checkbox-label {
  font-size: 12px;
  font-weight: normal;
}

/***** footer *****/
footer {
  .copyrights {
    color: #fe142f;
    font-size: 1rem;
    font-weight: bolder;
  }
}

@media screen and (max-width: 1024px) {
  /* Hero responsive */
  .hero {
    &__content {
      color: #000;
    }
    &__headline {
      font-size: 4.5rem;
      white-space: normal;
    }
    &__text {
      font-size: 1.5rem;
    }
  }
  /* Footer responsive */
  .copyrights {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  /* Menu responsive */
  .main-navbar--responsive {
    a {
      text-align: left;
    }
  }
}
